[package]
name = "struct_pack_macro"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full", "extra-traits"] }
quote = "1.0"
proc-macro2 = "1.0"
nom = "8.0"
byteorder = "1.5.0"
proc-macro-error = "1.0.4"
