name: Rust

on:
    push:
        branches: [main]

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions-rust-lang/setup-rust-toolchain@v1
        - name: Install clippy
          run: rustup component add clippy
        - uses: actions/checkout@v4
        - name: Run clippy
          run: cargo clippy
        - name: Test
          run: cargo test
        - name: Build
          run: cargo build --release
